{% extends "control/main_template.html" %}

{% load static %}

{% block title %}<title>Detalles</title>{% endblock %}

{% block content %}

    <div class="section__content section__content--p30"> 
    
        <div class="col-md-12">
            <h2>Detalle Actividad</h2> 
            <br>
        </div>          

        <div class="col-lg-6.offset-md-3">
                <div class="card">
                    <div class="card-header">Detalle de la Actividad</div>

                    <div class="card-body card-block">
                            <p><strong>Nombre:</strong> {{ actividad.nombre_actividad }}</p>
                            <p><strong>Descripcion:</strong> {{ actividad.descripcion }}</p>
                            <p><strong>Fecha:</strong> {{ actividad.fecha }}</p>    
                            <p><strong>Lugar:</strong> {{ actividad.lugar }}</p> 
                    </div>

                    <div style="margin-left:20px;margin-top:20px">
                        <h4>Participantes</h4>
                    
                        {% for participante in actividad.participantes_actividad_set.all %}
                        <hr>                        
                        <p><strong>Participante:</strong> {{participante.persona}}</p>
                        
                        {% endfor %}
                    </div>

                    <div class="card-footer">
                        <a href="{% url 'control:actividades' %}"><button type="button" class="btn btn-secondary btn-sm">Regresar</button></a>
                    </div>
                        
                </div>
        </div> 

        

    </div>

{% endblock content %}